@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  /* overflow: hidden; */
}

.slick-slider {
  display: grid !important ;
}
.slick-prev:before,
.slick-next:before {
  color: rgb(145, 145, 145) !important;
}

.slick-track > div {
  width: fit-content !important;
}
